* {
    margin: 0vw;
    padding: 0vw;
    align-items: center;
    justify-items: center;
    display: grid;
    row-gap: 3vw;
    column-gap: 5vw;
    font-style: italic;
    
    
}
p {
    color: lavender;
}





a:hover { font-size: 1.5rem;

}
a:link {color: floralwhite;
    font-family: monospace;
    text-decoration: hotpink;

}
a:visited {
    color: gold;
}
a:active {
    color: grey;
    text-decoration: underline;
}
 article >h1 {
     font-style: italic;
 }
 #logo {
     margin-left: 500;
 }
 #menu-header {
     background-color: green;
     width: 100%;
     min-height: 10vh;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     align-items: center;
     justify-items: center;
     column-gap: 3vw
 }
 #Deal {
     width: 90%;
     min-height: 35vh;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     column-gap: 5vw;
     display: grid;
     align-items: center;

 }
 #menu-content {
     width: 90%;
     min-height: 70vh;
     grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));



 }
 #menu-footer {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     column-gap: 5vw;
     min-height: 20vh;
     background-color: blue;

 }
 #homeheader {
    background-color: green;
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-items: center;
    column-gap: 3vw
}


#homecontent {
    width: 90%;
    min-height: 80vh;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));



}
#homefooter {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    column-gap: 5vw;
    min-height: 10vh;
    background-color: blue;

}
#aboutusheader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: green;
    column-gap: 5vw;
    min-height: 10vh;
}
#home1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}
#home2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}


#highlighted {
    height: 5vw;
    background-color: gold;
    transition-property: height;
    transition-duration: 9s;
    transition-timing-function: ease-in-out;


}
#highlighted:hover {
   height: 10vw;

}
 
.slide {
    animation-duration: 9s;
    animation-name: sliden;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    body {
        background-color: lightblue;
    }
}
@media only screen and (min-width: 900px) {
    body {
        background-color: yellowgreen;
    }
}
